html, body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    align-content: center;
    margin: 20px;
}

.home-container {
    color: black;
}

.title{
    color: black;
}

.return-image{
    height: 25px;
    width: 25px;
}

.list-container{
    display: flex;
}

.list{
    padding-right: 100px;
}

